#four{
    padding: 80px 0px;
}
.nine{
    text-align: center;
}

.nine h2{
    font-size: 40px;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    color: #272727;
}

.nine p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: rgba(39, 39, 39, 0.603);
    margin-top: 10px;
}
.ten{
    padding: 30px 0px;
}
.ten img{
    width: 100%;
    transform: scale(1);
    transition: .5s;
    box-shadow: 0px 0px 6px #624E88;
}
.ten img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 6px #F9DBBA;
}